.main-container
{
	margin-left : auto;
    margin-right: auto;
    height: 120%;
    width: 35%;
    border: solid;

}

h1
{
	margin-left:150px;
}
.input
{
    margin-left: 10px;    
    justify-content: flex-start;
    display: flex;
    width: 55%;

}
.align
{
    display: flex;
    align-items:center;
    justify-content:center;
    padding-top:20px;
}
.btn
{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    font-size: 20px;
    background-color: #FFA500;
}
.form1
{
	margin-top:80px;
}

input[type="password"] {
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: red;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}
input[type="text"] {
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: red;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}
input[type="email"] {
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: red;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}
input[type="text"] {
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: red;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}
.select
{
    margin-left: 10px;    
    justify-content: flex-start;
    display: flex;
}
select
{
	font-style: normal;
    font-weight: normal;
    speak: none;
    color: black;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
    text-align: center;
}

input[type="checkbox"] {
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: red;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}
input[type="email"] {
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: red;
    font-size: 20px;
	font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px;
}