.mainHeader{
	height:100px;
	font-size:24px;
}
.mainBody{
	height:600px;
	font-size:24px;
}
.mainFooter{
	height:100px;
	font-size:24px;
}
.mainBody{
	height:500px;
}
.Leftside{
	height:500px;
	font-size:24px;
}
.Rightside{
	height:500px;
	font-size:24px;
}
.Body{
	height:500px;
	font-size:24px;
}