		/*body{
			margin-left: 2px;
		}*/

		h1
		{
			text-align:center;
		}
		h3
		{
			margin-left: 20px;
		}
		.id1,.id2,.id3,.id4{
			
			border:1px solid black;
			height: 215px;
			width: 315px;
			text-align: center;
			background-color:gray;
			display: flex;
			align-items: center;
			justify-content:center;	
		}

		.container
		{
			display: flex;
			justify-content:space-between;


		}


